<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @trackcode.description %>
</p>

<%= link_to 'Edit', edit_trackcode_path(@trackcode) %> |
<%= link_to 'Back', trackcodes_path %>
